<app-layout></app-layout>

<section class="banner-img">
    <div class="container box-container">
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12" style="text-align: center;">
              <h2 class="center-block">CONSULTAR LOTE</h2>
            </div>
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-8">
              <div class="form-group">
                <label for="exampleInputEmail1">NÚMERO DO LOTE</label>
                <input type="text" class="form-control" placeholder="Informe o LOTE">
              </div>
            </div>
            <div class="col-md-4">
                <button style="margin-top: 24px;" type="submit" class="btn">CONSULTAR</button>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12" style="text-align: center;">
              <h2 class="center-block">ALTERAR STATUS LOTE</h2>
            </div>
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-md-5">
              <div class="form-group">
                <label for="exampleInputEmail1">NÚMERO DO LOTE</label>
                <input type="text" class="form-control" placeholder="Informe o LOTE">
              </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">STATUS</label>
                    <select class="form-control">
                        <option value="COLISÃO">EM PRODUÇÂO</option>
                        <option value="ROUBO">ATIVO</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button style="margin-top: 24px;" type="submit" class="btn">ALTERAR</button>
            </div>
        </div>

    </div>
</section>